.sale {
    font-family: "Arial Rounded MT Bold";
}

#purchases {

}

#purchases li {
    background-color: aquamarine;
}

.popup {
    font-weight: bold;
    color: red;
}

#images li {
    display: inline;
}

#images {
    list-style: none;
}

#images li a img {
    boder: 0;
}